<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Relatório</title>
</head>
<body>
    <h2>Adicionar Relatório para {{ paciente.nome }}</h2>
    <form action="" method="POST">
        <!-- Data e Responsável -->
        <label for="data">Data:</label>
        <input type="date" id="data" name="data" required><br><br>

        <label for="responsavel">Responsável (Nome e Função):</label>
        <input type="text" id="responsavel" name="responsavel" required><br><br>

        <!-- Sinais Vitais -->
        <h3>1. Sinais Vitais:</h3>
        <label for="pressao">Pressão Arterial:</label>
        <input type="text" id="pressao" name="pressao" required><br><br>

        <label for="frequencia_cardiaca">Frequência Cardíaca:</label>
        <input type="text" id="frequencia_cardiaca" name="frequencia_cardiaca" required><br><br>

        <label for="temperatura">Temperatura:</label>
        <input type="text" id="temperatura" name="temperatura" required><br><br>

        <label for="saturacao_oxigenio">Saturação de Oxigênio (%):</label>
        <input type="text" id="saturacao_oxigenio" name="saturacao_oxigenio" required><br><br>

        <label for="frequencia_respiratoria">Frequência Respiratória (rpm):</label>
        <input type="text" id="frequencia_respiratoria" name="frequencia_respiratoria" required><br><br>

        <!-- Estado Geral -->
        <h3>2. Estado Geral:</h3>
        <label for="consciencia">Consciência:</label>
        <input type="text" id="consciencia" name="consciencia" required><br><br>

        <label for="dor">Dor (intensidade de 0 a 10):</label>
        <input type="text" id="dor" name="dor" required><br><br>

        <!-- Novos Campos de Estado Geral -->
        <label for="horario_dormir">Horário que foi dormir:</label>
        <input type="time" id="horario_dormir" name="horario_dormir"><br><br>

        <label for="horario_despertar">Horário que despertou:</label>
        <input type="time" id="horario_despertar" name="horario_despertar"><br><br>

        <label for="n_vezes_despertou">Número de vezes que despertou durante a noite:</label>
        <input type="number" id="n_vezes_despertou" name="n_vezes_despertou" min="0"><br><br>

        <label for="tempo_dia">Tempo que dormiu durante o dia:</label>
        <input type="text" id="tempo_dia" name="tempo_dia" placeholder="Ex: 2 horas e 30 minutos"><br><br>

        <label for="queixa_falta_ar">Queixa de falta de ar:</label>
        <input type="text" id="queixa_falta_ar" name="queixa_falta_ar" placeholder="Sim ou Não"><br><br>

        <label for="roncos">Apresenta roncos:</label>
        <input type="text" id="roncos" name="roncos" placeholder="Sim ou Não"><br><br>

        <!-- Registro de Refeições -->
        <h3>3. Alimentação:</h3>
        <div>
            <label for="tipo_alimentacao">Tipo de Alimentação:</label>
            <select id="tipo_alimentacao" name="tipo_alimentacao">
                <option value="">Selecione...</option>
                <option value="solida">Sólida</option>
                <option value="pastosa">Pastosa</option>
                <option value="semi-pastosa">Semi-pastosa</option>
            </select><br><br>

            <label for="dm">DM - Diabetes Mellitus:</label>
            <select id="dm" name="dm">
                <option value="">Selecione...</option>
                <option value="sim">Sim</option>
                <option value="nao">Não</option>
            </select><br><br>

            <label for="hipertensao">Hipertensão:</label>
            <select id="hipertensao" name="hipertensao">
                <option value="">Selecione...</option>
                <option value="sim">Sim</option>
                <option value="nao">Não</option>
            </select><br><br>

            <label for="irc">IRC - Insuficiência Renal Crônica:</label>
            <select id="irc" name="irc">
                <option value="">Selecione...</option>
                <option value="sim">Sim</option>
                <option value="nao">Não</option>
            </select><br><br>
        </div>
        <div>
            <label for="cafe_da_manha">Café da Manhã:</label>
            <select id="cafe_da_manha" name="cafe_da_manha">
                <option value="">Selecione...</option>
                <option value="1">Boa Aceitação</option>
                <option value="2">Aceitação Parcial</option>
                <option value="3">Recusa</option>
                <option value="4">Náuseas / Engasgo / Vômito</option>
            </select><br><br>

            <label for="colacao">Colação:</label>
            <select id="colacao" name="colacao">
                <option value="">Selecione...</option>
                <option value="1">Boa Aceitação</option>
                <option value="2">Aceitação Parcial</option>
                <option value="3">Recusa</option>
                <option value="4">Náuseas / Engasgo / Vômito</option>
            </select><br><br>

            <label for="almoco">Almoço:</label>
            <select id="almoco" name="almoco">
                <option value="">Selecione...</option>
                <option value="1">Boa Aceitação</option>
                <option value="2">Aceitação Parcial</option>
                <option value="3">Recusa</option>
                <option value="4">Náuseas / Engasgo / Vômito</option>
            </select><br><br>

            <label for="lanche">Lanche:</label>
            <select id="lanche" name="lanche">
                <option value="">Selecione...</option>
                <option value="1">Boa Aceitação</option>
                <option value="2">Aceitação Parcial</option>
                <option value="3">Recusa</option>
                <option value="4">Náuseas / Engasgo / Vômito</option>
            </select><br><br>

            <label for="jantar">Jantar:</label>
            <select id="jantar" name="jantar">
                <option value="">Selecione...</option>
                <option value="1">Boa Aceitação</option>
                <option value="2">Aceitação Parcial</option>
                <option value="3">Recusa</option>
                <option value="4">Náuseas / Engasgo / Vômito</option>
            </select><br><br>

            <label for="ceia">Ceia:</label>
            <select id="ceia" name="ceia">
                <option value="">Selecione...</option>
                <option value="1">Boa Aceitação</option>
                <option value="2">Aceitação Parcial</option>
                <option value="3">Recusa</option>
                <option value="4">Náuseas / Engasgo / Vômito</option>
            </select><br><br>
        </div>

        <!-- Quantidade de Água Ingerida -->
        <div>      
            <label for="consumo_categoria">Categoria de Consumo:</label>
            <select id="consumo_categoria" name="consumo_categoria" required>
                <option value="maior que 2 litros">Consumo maior que 2 litros</option>
                <option value="maior que 1 litro menor que 2 litros">Consumo maior que 1 litro e menor que 2 litros</option>
                <option value="maior que 500 mL menor que 1 litro">Consumo maior que 500 ml e menor que 1 litro</option>
                <option value="menor que 500 mL">Consumo menor que 500 ml</option>
            </select><br><h4>Quantidade de Água
                que deve ser 
                consumida por dia:
                 </h4><tr>Peso Corporal (Kg)</tr><br>
                 <h4>50</h4><tr>
                 <h4>x35 ml de Água</h4><tr>---------------------</tr><tr>
                <h4>1,8 Litros p/ dia</h4><br> 
            
        </div>

        <!-- Mobilidade e Higiene -->
        <h3>4. Mobilidade e Higiene:</h3>
        <label for="mobilidade">Mobilidade:</label>
        <input type="text" id="mobilidade" name="mobilidade" required><br><br>

        <label for="higiene">Higiene (fraldas trocadas, etc.):</label>
        <input type="text" id="higiene" name="higiene" required><br><br>

        <!-- Medicamentos -->
        <h3>5. Medicamentos:</h3>
        <table>
            <thead>
                <tr>
                    <th>Aprazamento/Horas</th>
                    <th>Medicação</th>
                    <th>Dose</th>
                    <th>Via</th>
                    <th>Situação</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(10) %}
                <tr>
                    <td>
                        <select name="aprazamento{{ i }}">
                            <option value="">Selecione...</option>
                            <option value="Em Jejum">Em Jejum</option>
                            <option value="Antes do Almoço">Antes do Almoço</option>
                            <option value="Durante o Almoço">Durante o Almoço</option>
                            <option value="Antes do Jantar">Antes do Jantar</option>
                            <option value="08:00">08:00</option>
                            <option value="08:30">08:30</option>
                            <option value="09:00">09:00</option>
                            <option value="09:30">09:30</option>
                            <option value="10:00">10:00</option>
                            <option value="10:30">10:30</option>
                            <option value="11:00">11:00</option>
                            <option value="11:30">11:30</option>
                            <option value="12:00">12:00</option>
                            <option value="12:30">12:30</option>
                            <option value="13:00">13:00</option>
                            <option value="13:30">13:30</option>
                            <option value="14:00">14:00</option>
                            <option value="14:30">14:30</option>
                            <option value="15:00">15:00</option>
                            <option value="15:30">15:30</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" name="medicacao{{ i }}" placeholder="Medicação">
                    </td>
                    <td>
                        <select name="dose{{ i }}">
                            <option value="">Selecione...</option>
                            <option value="AP/AMP">AP/AMP (ampola)</option>
                            <option value="CAP">CAP (cápsula)</option>
                            <option value="Col">Col (colírio)</option>
                            <option value="CP/comp">CP/comp (comprimido)</option>
                            <option value="CR">CR (creme)</option>
                            <option value="DG">DG (drágeas)</option>
                            <option value="ENV">ENV (envelope)</option>
                            <option value="FL">FL (flaconete)</option>
                            <option value="Gt/gts">Gt/gts (gotas)</option>
                            <option value="mcg">mcg (micrograma)</option>
                            <option value="mg">mg (miligrama)</option>
                            <option value="mL">mL (mililitro)</option>
                            <option value="NBZ">NBZ (nebulização)</option>
                            <option value="SF">SF (solução fisiológica)</option>
                            <option value="SG">SG (solução glicosada)</option>
                            <option value="SNE">SNE (sonda nasoenteral)</option>
                            <option value="SNG">SNG (sonda naso-gástrica)</option>
                            <option value="SP/Sup">SP/Sup (supositório)</option>
                            <option value="SY">SY (spray)</option>
                            <option value="TB">TB (tubo)</option>
                        </select>
                    </td>
                    <td>
                        <select name="via{{ i }}">
                            <option value="">Selecione...</option>
                            <option value="Via Oral - VO">Via Oral - VO</option>
                            <option value="Sublingual - SL">Sublingual - SL (sob a língua)</option>
                            <option value="Via Bucal">Via Bucal (entre a gengiva e a bochecha)</option>
                            <option value="Via Retal - VR">Via Retal - VR (no reto)</option>
                            <option value="Via Vaginal - VV">Via Vaginal - VV (na vagina)</option>
                            <option value="Intravenosa - IV">Intravenosa - IV (injetável na veia)</option>
                            <option value="Via Intra Muscular - IM">Via Intra Muscular - IM (injetável no músculo)</option>
                            <option value="Via Subcutânea - SC">Via Subcutânea - SC (injetável sob a pele)</option>
                            <option value="Hipodermóclise">Hipodermóclise</option>
                            <option value="Via Ocular">Via Ocular (no olho)</option>
                            <option value="Via Otológica">Via Otológica (no ouvido)</option>
                            <option value="Via Nasal">Via Nasal (no nariz)</option>
                            <option value="Via Inalatória">Via Inalatória (pela boca)</option>
                            <option value="Via por Nebulização - NBZ">Via por Nebulização - NBZ</option>
                            <option value="Via Cutânea - Tópico">Via Cutânea - Tópico (efeito local, aplicado na pele)</option>
                            <option value="Via Cutânea - Sistêmico">Via Cutânea - Sistêmico (aplicado na pele em todo o corpo)</option>
                            <option value="Via Transdérmica - TD">Via Transdérmica - TD (aplicado na pele, através de adesivo)</option>
                        </select>
                    </td>
                    <td>
                        <select name="situacao{{ i }}" id="situacao{{ i }}" onchange="updateStatusDot({{ i }})">
                            <option value="Por Administrar">Por Administrar</option>
                            <option value="Administrado">Administrado</option>
                        </select>
                        <span id="status-dot{{ i }}" class="status-dot" style="color: red;">&#9679;</span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br><br>

        <!-- Observações Gerais -->
        <h3>6. Observações:</h3>
        <textarea id="observacoes" name="observacoes" rows="4"></textarea><br><br>

        <input type="submit" value="Salvar Relatório">
    </form>

    <a href="{{ url_for('ver_relatorios', cpf=paciente.cpf) }}">Voltar para Relatórios</a>

    <script>
        function updateStatusDot(index) {
            const selectElement = document.getElementById(`situacao${index}`);
            const statusDot = document.getElementById(`status-dot${index}`);
            if (selectElement.value === "Administrado") {
                statusDot.style.color = "green";
            } else {
                statusDot.style.color = "red";
            }
        }
    </script>
</body>
</html>