<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatórios de {{ paciente['nome'] }}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #e0f7fa;
        }
        .relatorio {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 5px;
            background-color: #f9f9f9;
        }
        .titulo {
            font-weight: bold;
            color: #333;
        }
        .subtitulo {
            font-weight: bold;
            color: #666;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        }
        th, td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        .container {
            display: flex;
            justify-content: space-around;
            margin: 20px 0;
        }
        .boneco {
            position: relative;
            width: 205px;
            height: 400px;
            border: 1px solid #ccc;
            overflow: hidden; /* Para garantir que nada saia do contêiner */
        }

        .boneco img {
            width: 100%; /* Faz a imagem ocupar toda a largura do contêiner */
            height: auto; /* Mantém a proporção da imagem */
            display: block; /* Remove espaços em branco abaixo da imagem */
        }

        .x {
            position: absolute;
            top: 10px; /* Ajuste a posição do "X" conforme necessário */
            left: 10px; /* Ajuste a posição do "X" conforme necessário */
            background-color: red; /* Cor de fundo do "X" */
            color: white; /* Cor do texto do "X" */
            text-align: center;
            line-height: 20px;
            border-radius: 100%;
            cursor: pointer; /* Cursor de arrastar */
        }
    </style>
</head>
<body>
    <h2>Relatórios de {{ paciente['nome'] }}</h2>

    <form method="POST">
        <button name="adicionar_relatorio">Adicionar Relatório</button>
        <br>
        <h3>Ver Paciente</h3>
        <a href="{{ url_for('ver_paciente', cpf=paciente['cpf']) }}" style="text-decoration: none;">
            <button type="button">Ver Paciente</button>
        </a>
        <h3>Buscar Relatório por Data:</h3>
        <input type="date" name="data">
        <button name="buscar_relatorio">Buscar</button>
    </form>

    <h3>Últimos Relatórios:</h3>
    <div>
        {% if paciente['relatorios'] %}
            {% for relatorio in paciente['relatorios'] %}
                <div class="relatorio">
                    <div class="titulo">Data: {{ relatorio['data'] }} às {{ relatorio['hora'] }}</div>
                    <div><span class="subtitulo">Responsável:</span> {{ relatorio['responsavel'] }}</div>
                    <div><span class="subtitulo">Cadastrado por:</span> {{ relatorio['cadastrado_por'] }}</div>

                    <h4>Sinais Vitais:</h4>
                    <div><span class="subtitulo">Pressão:</span> {{ relatorio['sinais_vitais']['pressao'] }}</div>
                    <div><span class="subtitulo">Frequência Cardíaca:</span> {{ relatorio['sinais_vitais']['frequencia_cardiaca'] }}</div>
                    <div><span class="subtitulo">Temperatura:</span> {{ relatorio['sinais_vitais']['temperatura'] }}</div>
                    <div><span class="subtitulo">Saturação de Oxigênio:</span> {{ relatorio['sinais_vitais']['saturacao_oxigeno'] }}</div>
                    <div><span class="subtitulo">Frequência Respiratória:</span> {{ relatorio['sinais_vitais']['frequencia_respiratoria'] }}</div>

                    <!-- Seção de Integridade Cutânea -->
                    <h4>Integridade Cutânea:</h4>
                    <div><span class="subtitulo">Pele Prejudicada:</span> {{ relatorio['integridade_cutanea']['pele_prejudicada'] }}</div>
                    <div><span class="subtitulo">Tipo de Lesão:</span> {{ relatorio['integridade_cutanea']['tipo_lesao'] }}</div>
                    <div><span class="subtitulo">Troca do Curativo:</span> {{ relatorio['integridade_cutanea']['troca_curativo'] }}</div>
                    <div><span class="subtitulo">Prescrição do Curativo:</span> {{ relatorio['integridade_cutanea']['prescricao_curativo'] }}</div>
                    <div><span class="subtitulo">Observações do Curativo:</span> {{ relatorio['integridade_cutanea']['observacoes_curativo'] }}</div>
                    
                    <!-- Seção de Identificação e Localização -->
                    <h3>Registrar Identificação e Localização na Figura</h3>
                    <div class="container">
                        <div class="boneco" id="boneco1">
                            <img src="{{ url_for('static', filename='imagens/boneco.png') }}" alt="Boneco">
                            {% if relatorio['integridade_cutanea']['localizacao'] %}
                                {% for local in relatorio['integridade_cutanea']['localizacao'] %}
                                    <div class="x" style="left: {{ local.x }}px; top: {{ local.y }}px; position: absolute;">X</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="boneco" id="boneco2">
                            <img src="{{ url_for('static', filename='imagens/boneco_costas.png') }}" alt="Boneco">
                            {% if relatorio['integridade_cutanea']['localizacao'] %}
                                {% for local in relatorio['integridade_cutanea']['localizacao'] %}
                                    <div class="x" style="left: {{ local.x }}px; top: {{ local.y }}px; position: absolute;">X</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="boneco" id="boneco3">
                            <img src="{{ url_for('static', filename='imagens/boneca.png') }}" alt="Boneco">
                            {% if relatorio['integridade_cutanea']['localizacao'] %}
                                {% for local in relatorio['integridade_cutanea']['localizacao'] %}
                                    <div class="x" style="left: {{ local.x }}px; top: {{ local.y }}px; position: absolute;">X</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="boneco" id="boneco4">
                            <img src="{{ url_for('static', filename='imagens/boneca_costas.png') }}" alt="Boneco">
                            {% if relatorio['integridade_cutanea']['localizacao'] %}
                                {% for local in relatorio['integridade_cutanea']['localizacao'] %}
                                    <div class="x" style="left: {{ local.x }}px; top: {{ local.y }}px; position: absolute;">X</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <!-- Adicione outros bonecos conforme necessário -->
                    </div>

                    <h4>Estado Geral:</h4>
                    <div><span class="subtitulo">Consciência:</span> {{ relatorio['estado_geral'].get('consciencia', '') }}</div>
                    <div><span class="subtitulo">Dor:</span> {{ relatorio['estado_geral'].get('dor', '') }}</div>
                    {% if relatorio['estado_geral'].get('horario_dormir') %}
                        <div><span class="subtitulo">Horário que foi dormir:</span> {{ relatorio['estado_geral']['horario_dormir'] }}</div>
                    {% endif %}
                    {% if relatorio['estado_geral'].get('horario_despertar') %}
                        <div><span class="subtitulo">Horário que despertou:</span> {{ relatorio['estado_geral']['horario_despertar'] }}</div>
                    {% endif %}
                    {% if relatorio['estado_geral'].get('num_despertares') %}
                        <div><span class="subtitulo">Número de vezes que despertou:</span> {{ relatorio['estado_geral']['num_despertares'] }}</div>
                    {% endif %}
                    {% if relatorio['estado_geral'].get('tempo_dormido_dia') %}
                        <div><span class="subtitulo">Tempo que dormiu durante o dia:</span> {{ relatorio['estado_geral']['tempo_dormido_dia'] }}</div>
                    {% endif %}
                    {% if relatorio['estado_geral'].get('falta_de_ar') %}
                        <div><span class="subtitulo">Queixa de falta de ar:</span> {{ relatorio['estado_geral']['falta_de_ar'] }}</div>
                    {% endif %}
                    {% if relatorio['estado_geral'].get('roncos') %}
                        <div><span class="subtitulo">Apresenta roncos:</span> {{ relatorio['estado_geral']['roncos'] }}</div>
                    {% endif %}

                    <h4>Mobilidade e Higiene:</h4>
                    <div><span class="subtitulo">Mobilidade:</span> {{ relatorio['mobilidade_higiene']['mobilidade'] }}</div>
                    <div><span class="subtitulo">Higiene:</span> {{ relatorio['mobilidade_higiene']['higiene'] }}</div>

                    <h4>Alimentação e Hidratação:</h4>
                    <div><span class="subtitulo">Tipo de Alimentação:</span> {{ relatorio['alimentacao_hidratacao']['tipo_alimentacao'] }}</div>
                    <div><span class="subtitulo">DM - Diabetes Mellitus:</span> {{ relatorio['alimentacao_hidratacao']['condicoes']['dm'] }}</div>
                    <div><span class="subtitulo">Hipertensão:</span> {{ relatorio['alimentacao_hidratacao']['condicoes']['hipertensao'] }}</div>
                    <div><span class="subtitulo">IRC - Insuficiência Renal Crônica:</span> {{ relatorio['alimentacao_hidratacao']['condicoes']['irc'] }}</div>
                    
                    <h5>Refeições:</h5>
                    {% if relatorio['alimentacao_hidratacao'].get('refeicoes') %}
                        <div><span class="subtitulo">Café da Manhã:</span> {{ relatorio['alimentacao_hidratacao']['refeicoes']['cafe_da_manha']['nome'] }}
                            {% if relatorio['alimentacao_hidratacao']['refeicoes']['cafe_da_manha']['observacoes'] %}
                                <br><span class="subtitulo">Observações:</span> {{ relatorio['alimentacao_hidratacao']['refeicoes']['cafe_da_manha']['observacoes'] }}
                            {% endif %}
                        </div>
                        <div><span class="subtitulo">Colação:</span> {{ relatorio['alimentacao_hidratacao']['refeicoes']['colacao']['nome'] }}
                            {% if relatorio['alimentacao_hidratacao']['refeicoes']['colacao']['observacoes'] %}
                                <br><span class="subtitulo">Observações:</span> {{ relatorio['alimentacao_hidratacao']['refeicoes']['colacao']['observacoes'] }}
                            {% endif %}
                        </div>
                        <div><span class="subtitulo">Almoço:</span> {{ relatorio['alimentacao_hidratacao']['refeicoes']['almoco']['nome'] }}
                            {% if relatorio['alimentacao_hidratacao']['refeicoes']['almoco']['observacoes'] %}
                                <br><span class="subtitulo">Observações:</span> {{ relatorio['alimentacao_hidratacao']['refeicoes']['almoco']['observacoes'] }}
                            {% endif %}
                        </div>
                        <div><span class="subtitulo">Lanche:</span> {{ relatorio['alimentacao_hidratacao']['refeicoes']['lanche']['nome'] }}
                            {% if relatorio['alimentacao_hidratacao']['refeicoes']['lanche']['observacoes'] %}
                                <br><span class="subtitulo">Observações:</span> {{ relatorio['alimentacao_hidratacao']['refeicoes']['lanche']['observacoes'] }}
                            {% endif %}
                        </div>
                        <div><span class="subtitulo">Jantar:</span> {{ relatorio['alimentacao_hidratacao']['refeicoes']['jantar']['nome'] }}
                            {% if relatorio['alimentacao_hidratacao']['refeicoes']['jantar']['observacoes'] %}
                                <br><span class="subtitulo">Observações:</span> {{ relatorio['alimentacao_hidratacao']['refeicoes']['jantar']['observacoes'] }}
                            {% endif %}
                        </div>
                        <div><span class="subtitulo">Ceia:</span> {{ relatorio['alimentacao_hidratacao']['refeicoes']['ceia']['nome'] }}
                            {% if relatorio['alimentacao_hidratacao']['refeicoes']['ceia']['observacoes'] %}
                                <br><span class="subtitulo">Observações:</span> {{ relatorio['alimentacao_hidratacao']['refeicoes']['ceia']['observacoes'] }}
                            {% endif %}
                        </div>
                    {% else %}
                        <p>Nenhuma refeição registrada.</p>
                    {% endif %}

                    <h5>Hidratação:</h5>
                    <div><span class="subtitulo">Quantidade de Água Ingerida:</span> {{ relatorio['alimentacao_hidratacao']['hidratacao']['consumo_categoria'] }}</div>
                    {% if relatorio['alimentacao_hidratacao']['hidratacao']['observacoes'] %}
                        <div><span class="subtitulo">Observações:</span> {{ relatorio['alimentacao_hidratacao']['hidratacao']['observacoes'] }}</div>
                    {% endif %}

                    <h4>Medicamentos:</h4>
                    {% if relatorio.get('medicamentos') %}
                        <table>
                            <thead>
                                <tr>
                                    <th>Aprazamento/Horas</th>
                                    <th>Medicação</th>
                                    <th>Dose</th>
                                    <th>Via</th>
                                    <th>Situação</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for medicamento in relatorio['medicamentos'] %}
                                    <tr>
                                        <td>{{ medicamento['aprazamento'] }}</td>
                                        <td>{{ medicamento['medicacao'] }}</td>
                                        <td>{{ medicamento['dose'] }}</td>
                                        <td>{{ medicamento['via'] }}</td>
                                        <td>
                                            {{ medicamento['situacao'] }}
                                            <span style="color: {% if medicamento['situacao'] == 'Administrado' %}green{% else %}red{% endif %};">&#9679;</span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>Nenhum medicamento registrado.</p>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <p>Nenhum relatório encontrado.</p>
        {% endif %}
    </div>

    <a href="/home">Voltar ao início</a>

    <!--<script>
        function drag(ev) {
            ev.dataTransfer.setData("text", ev.target.id);
        }

        document.querySelectorAll('.boneco').forEach(boneco => {
            boneco.addEventListener('dragover', (ev) => {
                ev.preventDefault();
            });

            boneco.addEventListener('drop', (ev) => {
                ev.preventDefault();
                const data = ev.dataTransfer.getData("text");
                const xElement = document.getElementById(data);
                const rect = boneco.getBoundingClientRect();
                const x = ev.clientX - rect.left - (xElement.offsetWidth / 2);
                const y = ev.clientY - rect.top - (xElement.offsetHeight / 2);
                xElement.style.left = `${x}px`;
                xElement.style.top = `${y}px`;
                xElement.style.position = 'absolute';
                boneco.appendChild(xElement);
            });
        });

        document.getElementById('registrar').addEventListener('click', () => {
            const localizacao = [];
            document.querySelectorAll('.x').forEach(x => {
                const boneco = x.parentElement.id;
                const rect = x.getBoundingClientRect();
                // Calcula a posição relativa ao boneco
                const bonecoRect = document.getElementById(boneco).getBoundingClientRect();
                const xPos = rect.left - bonecoRect.left; // Posição X relativa ao boneco
                const yPos = rect.top - bonecoRect.top;   // Posição Y relativa ao boneco
                localizacao.push({ boneco: boneco, x: xPos, y: yPos });
            });
            document.getElementById('localizacao').value = JSON.stringify(localizacao);
            console.log(localizacao); // Para ver as coordenadas no console
        });
    </script>-->
</body>
</html>